/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

em {
	font-style: italic;
	font-size: 0.9em;
}

strong {
	font-weight: bold;
}

/*common stuff */
body {
	background: url(img/bg.jpg) top center no-repeat #66af24;
}

#wrap {
	width: 95%;
	min-width: 960px;
	margin: 0 auto;
	padding: 10px 0;
}

#copyleft {
	font-size: 0.8em;
	text-align: center;
	padding: 8px;
	color: #FFF;
}
#copyleft a {
	text-decoration: none;
	color: #DDD;
}
/* the main board */
#board {
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;	
	box-shadow: 0 0 2px 2px rgba(0,0,0, 0.2);
	overflow: hidden;
}

/* menu styles */
.mainmenu ul {
	display: block;
	padding: 0 4px;
	margin: 0 0 20px 0;
	
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	
	box-shadow: 0 0 2px 2px rgba(0,0,0, 0.2);
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;	
}

.mainmenu li {
	display: block;
	width: auto;
	float: left;
}
.mainmenu a {
	display: block;
	height: 45px;
	padding: 0 15px;
	
	text-decoration: none;
	text-align:center;
	line-height: 45px;
	
	color: #99c00c;
	
	cursor: pointer;
}
.mainmenu li:hover a {
	color: #FFFFFF;
	background-color: #99c00c;
}
.mainmenu li.logo:hover a {
	background-color: transparent;
}
.mainmenu li.logo a {
	padding: 0 10px;
}

/* LIST */
#board ul {
	 margin: 0 auto;
}

.person {
	float: left;
	width: 150px;
}

.person > div {
	padding: 5px;
	margin: 0 5px;
	height: 40px;
	background: #FFF;
	box-shadow: 0 0 2px 2px rgba(0,0,0, 0.2);
	border: 1px solid black;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;	
}

.paar {
	float: left;
}

.paar .wrap{
	width: 300px;
	margin: 0 auto;
}
		
/* VERBINDUNGSLINIEN */
.person:before {
	display: block;
	height: 15px;
	padding: 0 5px 0 5px;
	background: url(img/sprite-v1.png) top left no-repeat transparent;
	content: " ";
}

ul ul > .person:before, ul ul > .paar > div > .person:before {
	background-position: -450px 0;
}

ul ul > .paar > div > .person.noconnection:before {
	background-position: -750px 0;
}

ul ul > .paar.first > div > .person.first:before {
	background-position: -150px 0;
}

ul ul > .paar.last > div > .person.first:before {
	background-position: -300px 0;
}

ul ul > .paar.last.first > div > .person.first:before {
	background-position: -150px 0;
}

ul ul > .paar.last > div > .person.last.noconnection:before {
	background-position: 0 0;
}

ul ul > .paar.last > div > .person.last:before {
	background-position: -300px 0;
}

ul ul > .person.first:before {
	background-position: -150px 0;
}

ul ul > .person.last:before {
	background-position: -300px 0;
}

ul ul > .person.first.last:before {
	background-position: -600px 0;
}

.paar.parent > div {
	padding-bottom: 30px;
	background: url(img/sprite-v1.png) top left no-repeat transparent;
	background-position: -900px bottom;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}